body {
  display: block;
  margin: 8px;
  background-color: #f8e8a6;
  text-align: center;
}

footer a {
  color: green;
  margin: 0 10px;
}

.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
